
{% block body %}
<h1 class="text-bf mb-3 text-center">Les étapes de mon projet</h1>

<div class="example-wrapper">

    {% for step in steps %}
    <div class="row mb-3">
        <div class="col-md-2 h4 text-bc">
            # {{ step.number }}
        </div>

        <div class="col-md-7 h4 text-bf">
            {{ step.name }} 
        </div>
        {% if app.user == project.creator %}
        <span class="col-md-3 d-flex justify-content-end">
            <a href="{{ path('app_step_edit', {id: step.id}) }}" class="mw-100">
                <img src="{{ asset('build/img/edit_logo_bf.png') }}" alt="edit_logo_bf.png" class="w-100 px-2">
            </a>
            <a href="{{ path('app_step_delete', {id: step.id}) }}" class="mw-100">
                <img src="{{ asset('build/img/delete_logo_bf.png') }}" alt="edit_logo_bf.png" class="w-100 px-2">
            </a>
        </span>
        {% endif %}
    </div>
    {% endfor %}

</div>
{% endblock %}
